EXPO_PUBLIC_API_URL=https://api.example.com
EXPO_PUBLIC_APP_ENV=development
EXPO_PUBLIC_I18N_LOCKED_LANGUAGE=fr
EXPO_PUBLIC_THEME_LOCKED_SCHEME=light
EXPO_PUBLIC_LIVE_STREAM_URL=
EXPO_PUBLIC_LIVE_PROGRAM_TITLE=Top Congo Live
EXPO_PUBLIC_LIVE_PROGRAM_HOST=Top Congo FM
EXPO_PUBLIC_LIVE_PROGRAM_SCHEDULE=Du lundi au vendredi de 4h30 à 9h30
EXPO_PUBLIC_LIVE_NOW_PLAYING_URL=
EXPO_PUBLIC_LIVE_NOW_PLAYING_REFRESH_MS=15000
