@import '@fontsource/google-sans/400.css';
@import '@fontsource/google-sans/500.css';
@import '@fontsource/google-sans/700.css';

:root {
  --font-display: 'Google Sans';
  --font-mono: 'Google Sans';
  --font-rounded: 'Google Sans';
  --font-serif: 'Google Sans';
}
